html {
    max-height: 0; // This is the key to the solution do downscaled the popup after chainging text size
}


body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    width: 350px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg);

    &__left {
        display: flex;
        align-items: center;

        &-icon {
            width: 55px;
            height: 55px;
            margin: 5px
        }

        &-name {
            font-size: 22px;
            margin: 0;
        }
    }

    &__right {
        margin-left: auto;
        display: flex;
        align-items: center;

        .main_button {
            margin-right: 10px;
        }

        .refresh-button {
            padding: 13px;
            border-radius: 5px;
            margin-right: 10px;
            cursor: pointer;
            background-color: var(--refresh-background);
            border: none;
            transition-duration: .2s;
            display: none;

            &:hover {
                background-color: var(--refresh-hover);
            }

            .fa-icon_refresh {
                height: 17px;
            }
        }
    }
}


.param-container {
    background-color: var(--color-bg);
    transition-duration: .4s;
    padding-top: 3px;
    
    .disable-params {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
    }

    .param {
        display: flex;
        align-items: center;
        padding: 7px;
        
        &-button {
            margin-right: 10px;
        }

        &-name {
            font-size: 15px;
            margin: 0;
            color: var(--color-text);
        }
    }
}

.switch {
    position: relative;
    display: flex;
    width: 39px;
    min-width: 39px;
    height: 21px;

    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: relative;
    z-index: 2;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-image: var(--slider-background);
    border-radius: 22px;
    transition: background-color 0.4s;

    &::before {
        position: absolute;
        content: "";
        background-image: var(--gradient-color);
        inset: 0;
        z-index: 1;
        opacity: 0;
        border-radius: 22px;
        transition: opacity 0.25s linear;
    }

    &-thumb {
        position: absolute;
        height: 17px;
        width: 17px;
        border-radius: 50%;
        background-color: var(--slider-thumb);
        transition: transform 0.4s;
        top: 2px;
        left: 2px;
        z-index: 4;
    }
}
  
input:checked + .slider::before {
    opacity: 1;
}

input:checked + .slider .slider-thumb {
    transform: translateX(17px);
}

.footer {
    background-color: var(--color-bg);
    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 8px 8px;

        &__left {
            display: flex;
            align-items: center;
            gap: 6px;


            &--button {
                height: 20px;
                width: 20px;
                background: transparent;
                fill: var(--color-text);
                cursor: pointer;
                transition-duration: .3s;

                &:hover {
                    fill: var(--color-text-hover);
                }
            }
        }

        &__right {
            display: flex;

            &--button {
                height: 20px;
                width: 20px;
                background: transparent;
                fill: var(--color-text);
                cursor: pointer;
                transition: 0.5s ease-in-out;

                &:hover {
                    rotate: 360deg;
                    fill: var(--color-text-hover);
                }
            }
        }
    }

    &-version {
        z-index: 1;
        padding: 2px 8px;
        display: flex;
        justify-content: end;
        

        &--text {
            font-size: 12px;
            color: #8f8f8f;
        }
    }
}